Experiment 0:
introduction to python

In [5]:
# Amod Marathe PRN-25070123073
print("Amod Marathe")
print(2)
print([1,2,5])

Amod Marathe
2
[1, 2, 5]

In [4]:
a=[1 ,2,5]
print([1,2,5])
print(a)

[1, 2, 5]
[1, 2, 5]

In [8]:
x = 2
y=[1,2,5]
z= "amod marathe"
print(x)
print(y)
print(z)

2
[1, 2, 5]
amod marathe

In [9]:
from abc import abstractmethod
name= "amod"
number=2
matrix=[1,2,3]
print(name,number,matrix)

amod 2 [1, 2, 3]

In [10]:
from abc import abstractmethod
name= "amod"
number=2
matrix=[1,2,3]
print(name,number,matrix,sep="\n")

amod
2
[1, 2, 3]