In [3]:

# Exp1- introduction to python
# Amod Marathe
x,y,z="apple","orange","cherry"
w=True
print(x,y,z,sep="\n")

apple
orange
cherry

In [4]:
x,y,z,w=2,2.5,"amod",True
print(type(x),type(y),type(z),type(w),sep="\n")

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [14]:
a=15
b=12
add=a+b
diff= a-b
mult=a*b
print("add",a+b,"\nsub=",a-b,"/nmult=",a*b,"\ndiv=",a/b,"\nexp=",a**b,)

add 27
sub= 3 /nmult= 180
div= 1.25
exp= 129746337890625

In [16]:
a=int(input("enter the value of a="))
b=int(input("enter the value of b"))
print("add=",a+b,"\n","sub=",a-b,"\n","mult=",a*b,"\n","div=",a/b,"\n","exp=",a**b,"\n")

enter the value of a=12
enter the value of b45
add= 57
 sub= -33
 mult= 540
 div= 0.26666666666666666
 exp= 3657261988008837196714082302655030834027437228032

In [18]:
import math
r=float(input("enter the value of radius"))
print("area of circle=",math.pi*r*r)

enter the value of radius3
area of circle= 28.274333882308138

In [22]:
import math
print("log 10=",math.log10(10))
print("sin60=",math.sin(math.degrees(60)))

log 10= 1.0
sin60= 0.7475778912844228

In [26]:
a=10
b=5
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [30]:
a,b=float(input("enter a value of a:" )),float(input("enter value of b:"))
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

enter a value of a:2
enter value of b:6
b is greater than a